absl-py==0.2.2
aiofiles==0.4.0
alabaster==0.7.10
allennlp==0.1a6
appnope==0.1.0
argcomplete==1.8.2
arrow==0.12.1
astor==0.7.1
astroid==1.6.3
attrs==18.1.0
Automat==0.7.0
awscli==1.16.79
Babel==2.5.3
backcall==0.1.0
Beaker==1.10.0
beautifulsoup4==4.5.3
binaryornot==0.4.4
bleach==2.1.3
boto==2.48.0
boto3==1.9.17
botocore==1.12.69
breadability==0.1.20
bs4==0.0.1
bz2file==0.98
catboost==0.6
certifi==2018.1.18
chainmap==1.0.2
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.2
cleanco==1.3
click==6.7
cliff==2.13.0
cloudpickle==0.5.3
cmd2==0.9.4
colorama==0.3.9
colorlover==0.2.1
CommonMark==0.5.4
configparser==3.5.0
constantly==15.1.0
cookiecutter==1.6.0
coverage==4.5.1
cql==1.4.0
cssselect==1.0.3
cufflinks==0.12.1
cx-Oracle==6.1
cycler==0.10.0
cymem==2.0.2
Cython==0.28.4
cytoolz==0.9.0.1
dash==0.36.0
dash-core-components==0.43.0
dash-daq==0.1.0
dash-html-components==0.13.5
dash-renderer==0.17.0
dash-table==3.3.0
databricks-cli==0.8.2
decorator==4.3.0
dill==0.2.8.2
docopt==0.6.2
docutils==0.14
docx2txt==0.6
EbookLib==0.15
emoji==0.5.1
entrypoints==0.2.3
flake8==3.5.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.4
Flask-Session==0.3.1
future==0.16.0
fuzzywuzzy==0.16.0
gast==0.2.0
gensim==3.4.0
gevent==1.3.5
gitdb2==2.0.4
GitPython==2.1.11
gprof2dot==2017.9.19
graphviz==0.8.2
greenlet==0.4.13
grpcio==1.13.0
gunicorn==19.7.1
gym==0.10.5
h5py==2.9.0
html5lib==1.0.1
httptools==0.0.11
hyperlink==18.0.0
hyperopt==0.1.1
idna==2.6
imagesize==1.0.0
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
iso3166==0.8
isort==4.3.4
itsdangerous==0.24
jedi==0.12.0
jieba==0.39
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.11
jsonify==0.5
jsonschema==2.6.0
klein==17.10.0
lazy-object-proxy==1.3.1
logutils==0.3.5
lxml==4.2.1
mail-parser==3.4.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
mathparse==0.1.1
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.8.3
mleap==0.8.1
mlflow==0.7.0
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.6
mt103==0.0.1
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
nose==1.3.7
nose-exclude==0.5.0
notebook==5.4.1
numpy==1.15.4
oauthlib==2.1.0
overrides==1.9
packaging==17.0
pandas==0.23.4
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.2.0
pathlib==1.0.1
patsy==0.4.1
pbr==4.3.0
pdfminer.six==20170720
pecan==1.3.2
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
pipreqs==0.4.9
plac==0.9.6
plotly==2.3.0
ply==3.10
pocketsphinx==0.1.3
poyo==0.4.1
preshed==2.0.1
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.5.1
ptyprocess==0.5.2
purepng==0.2.0
py4j==0.10.4
pyarrow==0.12.0
pyasn1==0.4.4
pybind11==2.2.4
pycodestyle==2.3.1
pycryptodome==3.6.1
pyflakes==1.6.0
pyglet==1.3.2
Pygments==2.2.0
PyHamcrest==1.9.0
pyhocon==0.3.35
pylint==1.8.4
pypandoc==1.4
pyperclip==1.7.0
pyramid-arima==0.6.2
pyspark==2.2.0
pystan==2.17.0.0
pyteaser==1.0
python-crfsuite==0.9.5
python-dateutil==2.6.1
python-dotenv==0.7.1
python-Levenshtein==0.12.0
python-magic==0.4.15
python-pptx==0.6.5
python-twitter==3.4.2
pyttsx==1.1
pytz==2018.3
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
querystring-parser==1.2.3
rasa==0.0.5
rasa-nlu==0.12.3
recommonmark==0.4.0
regex==2018.1.10
requests==2.18.4
requests-oauthlib==1.0.0
rsa==3.4.2
s3transfer==0.1.12
sanic==0.6.0
scales==1.0.9
schwifty==2018.4.1
scikit-learn==0.19.0
scikit-plot==0.3.4
scipy==0.19.1
seaborn==0.8.1
Send2Trash==1.5.0
setuptools-markdown==0.2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.10.0
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==1.5.7
smiley==0.8.1
smmap2==2.0.4
snowballstemmer==1.2.1
spacy==2.0.18
SpeechRecognition==3.6.3
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.10
stevedore==1.29.0
sumy==0.7.0
tabulate==0.8.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textract==1.6.1
thinc==6.12.1
thrift==0.10.0
tika==1.18
tika-app==1.3.0
toolz==0.9.0
torch==1.0.0
tornado==5.0.2
tqdm==4.28.1
traitlets==4.3.2
Twisted==18.7.0
typing==3.6.4
ujson==1.35
urllib3==1.22
uvloop==0.11.3
virtualenv==15.2.0
waitress==1.1.0
wcwidth==0.1.7
weather-api==0.0.6
webencodings==0.5.1
WebOb==1.8.2
websockets==7.0
WebTest==2.0.32
Werkzeug==0.14.1
whichcraft==0.4.1
widgetsnbextension==3.0.6
yarg==0.1.9
zope.interface==4.5.0
