<head>
    <!-- <script src = "angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <link href="https://storage.googleapis.com/code.getmdl.io/1.3.0/material.blue_grey-red.min.css" rel="stylesheet"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html" rel="import">
    <link href="http://www.polymer-project.org/components/core-icons/core-icons.html" rel="import">
    <link href="http://www.polymer-project.org/components/font-roboto/roboto.html" rel="import">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://fonts.googleaspis.com/icon?family=Material+Icons">-->
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css">

    <title>NLP</title>
    <!--<link rel="shortcut icon" type="image/png" href="https://financialit.net/sites/default/files/dbs-bank.png" />-->

</head>

<body>
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <!--<img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/18/DBS_Bank_Logo.svg/320px-DBS_Bank_Logo.svg.png" width="80" height="33" class="d-inline-block align-top" alt="DBS Logo">-->
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('display_index') }}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/aditya00kumar/document-classification"
                   target="_blank">Document Classification -
                    Github</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!--<a href="javascript:history.go(0)">-->
    <h1 align="center">NLP Pipeline</h1>
    </a>
</div>
<div class="container">
    <div class="row center">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <h2 align="center">Training Dataset</h2>
                    <form action="/upload" enctype=multipart/form-data method="POST">
                        <input accept=".tsv, .csv" name=csv required type="file"/>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Submit
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <div><p>
            <br/>
        </p></div>
        <div class="container">
            <h2 align="center">Select Classifier to train</h2>
            </a>
            <br>
        </div>
    </div>
</div>
<form action="/train" enctype=multipart/form-data method="POST">
    <div class="container">
        <div class="row center">

            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <tr>
                    <td class="mdl-data-table__cell--non-numeric  mdl-button--accent">
                        <!--<form action="/check" method="POST">-->
                        <!--<select name="file_name">-->
                        <!--{% for file in files %}-->
                        <!--<option value= "{{file}}" SELECTED>{{ file }}</option>"-->
                        <!--{% endfor %}-->
                        <!--</select>-->
                        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">-->
                        <!--Submit-->
                        <!--</button>-->
                        <!--</form>-->
                        <div class="form-check">

                            {% for classifier in classifiers %}
                            <input name="classifier_checked" type="checkbox" value="{{classifier}}">
                            {{classifier}}<br>
                            <!--<input type="checkbox" class="form-check-input" id="materialUnchecked">-->
                            <!--<label class="form-check-label" for="materialUnchecked">{{classifier}}</label>-->
                            {% endfor %}
                            </input>
                        </div>
                    </td>
                    <br>
                    <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-numeric">
                        <!--                        <h2 align="center">Train Model</h2>-->
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Train Model
                        </button>

                    </td>
                </tr>
            </table>

        </div>

    </div>
</form>
<div class="container">
    <h2 align="center">Available Models</h2>
    </a>
    <br>
</div>
</div>
</div>
<div class="container">
    <div class="row center">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <tr>
                <td class="mdl-data-table__cell--non-numeric  mdl-button--accent">
                    <form action="/check" method="POST">
                        <select name="file_name">
                            {% for file in files %}
                            <option SELECTED value="{{file}}">{{ file }}</option>
                            "
                            {% endfor %}
                        </select>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Deploy
                        </button>
                    </form>

                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <!--<p>BBC News data set</p>-->
                    <form action="/test" method="post">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Test Model
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<!--<footer>-->
<!--<p>Developed by: Aditya Kumar-->
<!--&lt;!&ndash;<a href="http://kirankunapuli.github.io/">Kiran Kunapuli V S </a>&ndash;&gt;-->
<!--</p>-->
<!--<p>Version V0.1 Beta</p>-->
<!--</footer>-->

</body>
